<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>choice</string>
		<key>alternatives</key>
		<array>
			<string>borrow</string>
			<string>buy</string>
			<string>rent</string>
			<string>trade</string>
			<string>take_for_free</string>
		</array>
		<key>id</key>
		<string>request_type</string>
		<key>maps_to</key>
		<string>shareType</string>
		<key>mandatory</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<string>textfield</string>
		<key>id</key>
		<string>requested_item</string>
		<key>maps_to</key>
		<string>title</string>
		<key>mandatory</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<string>textarea</string>
		<key>id</key>
		<string>description</string>
		<key>maps_to</key>
		<string>description</string>
	</dict>
	<dict>
		<key>type</key>
		<string>textfield</string>
		<key>id</key>
		<string>tags</string>
		<key>subtitle</key>
		<string>separate_with_comma</string>
		<key>maps_to</key>
		<string>tags</string>
		<key>provides_explanation</key>
		<true/>
		<key>autocapitalization</key>
		<string>none</string>
	</dict>
	<dict>
		<key>type</key>
		<string>date</string>
		<key>default_time_interval_in_days</key>
		<integer>90</integer>
		<key>include_time</key>
		<false/>
		<key>id</key>
		<string>expiration_date</string>
		<key>maps_to</key>
		<string>validUntil</string>
		<key>mandatory</key>
		<true/>
		<key>provides_explanation</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<string>location</string>
		<key>id</key>
		<string>location</string>
		<key>maps_to</key>
		<string>location</string>
	</dict>
	<dict>
		<key>type</key>
		<string>photo</string>
		<key>id</key>
		<string>image</string>
		<key>maps_to</key>
		<string>image</string>
	</dict>
	<dict>
		<key>type</key>
		<string>choice</string>
		<key>alternatives</key>
		<array>
			<string>everybody</string>
			<string>this_community</string>
		</array>
		<key>id</key>
		<string>visibility</string>
		<key>maps_to</key>
		<string>visibility</string>
		<key>mandatory</key>
		<true/>
	</dict>
</array>
</plist>
